---
---

<div class="customization">
  <div class="control-group">
    <label for="sizeSlider">Size: <span id="sizeValue">24</span>px</label>
    <input type="range" id="sizeSlider" min="16" max="64" value="24" class="slider">
  </div>
  <div class="control-group">
    <label for="strokeSlider">Stroke: <span id="strokeValue">2</span>px</label>
    <input type="range" id="strokeSlider" min="1" max="4" step="0.5" value="2" class="slider">
  </div>
  <div class="control-group">
    <label for="colorPicker">Color:</label>
    <input type="color" id="colorPicker" value="#3D2B1F" class="color-picker">
  </div>
</div>
